<html>
  <head>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
		<style>
			canvas {
				margin: 0px;
				padding: 0px;
				position: absolute;
				/*background: #3c3b3b;*/
				pointer-events: none;
				position: absolute;
				display: block; 
				image-rendering: -webkit-optimize-contrast !important;
			}

			.content {
				margin: 0px;
				padding: 55px;
				width: 600px;
				height: 400px;
				display: inline-block;
				position: absolute;

			}
		</style>
		<script src="/js/processing.min.js"></script>
  </head>
  <body>
		<canvas id="processing-canvas" datasrc="/processing/forest.pjs" resize="" tabindex="0" width="1600" height="800"></canvas>
			<div class="content">			
				<h1 style="font-size:54px;">Dullahan Software</h1>
			  <p  style="padding-top:8px;" class="lead">Embedded, mobile, and web applications.</p>
				<p><img src="/img/headless-horseman.png" /></p>
				<p><a href="mailto:chris.cacciatore@dullahansoft.com">chris.cacciatore@dullahansoft.com</a></p>
			</div>
			<!--
			<section style="padding-top:55px;">
				<div class="row">
					<div class="span4">
						<h3 align="center">Projects</h3>
						<dl>
							<dt><a href="http://meteor-counting.heroku.com/" target="new"><img src="/img/meteor-count-thumb.png" /> Meteor Counter</a></dt>
							<dd>A quick tutorial, an FM radio, and a tiny bit of software enables you to start counting falling stars even during the day.</dd>
							<br/>
							<dt><img src="/img/textabl-logo.png"/> Textabl (<a href="/pdf/textabl.pdf">PDF</a>)</dt>
							<dd>A simple way to plan quick events.  You choose who to invite and we create a Facebook event page and invite your friends by text.  Built by a team of 5 in 48 hours at the June 2012 <a href="http://cerealhack.com/" target="new">Cereal Hack</a>.</dd>
							<br/>
							<dt><a href="http://www.infraredindustries.com/infraview/" target="new">Infraview</a></dt>
							<dd>Created for Infrared Industries.  Advanced graphing and data logging for Infrared's line of gas analyzers.</dd>
						</dl>
					</div>
					<div class="span4">
							<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
							<script src="/js/twitter-widget.js"></script>
					</div>
				</div>
			</section>
			-->
    </div>
  </body>
</html>
